.bgcolour {
    background: rgb(33,59,222);
    background: linear-gradient(97deg, rgba(33,59,222,1) 0%, rgba(140,69,227,0.6951155462184874) 99%);
}

.text {
    color: white;
    text-align: center;
}

nav{
    border-top: 5px solid white;
}

.searchbox {
    height: 850px;
    padding: 120px 100px;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}

.Btnstyle {
    top: 25%;
    left: 47%;
    position: absolute;
}

.carddisplay {
    width: 500px;
    position: absolute;
    padding: 20px;
    border: 5px solid blue;
    top: 16vw;
    text-align: center;
    min-height: 500px;
}

.description {
    left: 650px;
    width: 1000px;
    font-size: 10px;
    overflow: auto;
    max-height: 500px;
}

.footerstyle {
    padding-bottom: 48px;
    position: relative;
}

li {
    background: rgb(33,59,222);
    background: linear-gradient(97deg, rgba(33,59,222,0.49343487394957986) 0%, rgba(85,64,224,0.5242471988795518) 48%, rgba(140,69,227,0.6951155462184874) 99%);
    font-size: 30px;
    color: white;
    font-weight: 600;
    line-height: 60px;
}

.newsbox {
    border: 10px double yellow;
    margin: 10px;
    padding: 40px;
    background-color: #5499C7 ;
    color: white;
}

.cardlink {
    color: yellow;
}

.newsbg {
    background-image: url(./images/newsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}

.newsheader{
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .Btnstyle {
        top: 36%;
    }

    .inputsize {
        height: 100px;
    }
}