.bgcolour {
    background: rgb(33,59,222);
    background: linear-gradient(97deg, rgba(33,59,222,1) 0%, rgba(140,69,227,0.6951155462184874) 99%);
}

.text {
    color: white;
    text-align: center;
}

nav{
    border-top: 5px solid white;
}

.searchbox {
    height: 850px;
    padding: 150px 100px;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}

.Btnstyle {
    top: 30%;
    left: 47%;
    position: absolute;
}

.footerstyle {
    padding-bottom: 48px;
    position: relative;
}

li {
    background: rgb(33,59,222);
    background: linear-gradient(97deg, rgba(33,59,222,0.49343487394957986) 0%, rgba(85,64,224,0.5242471988795518) 48%, rgba(140,69,227,0.6951155462184874) 99%);
    font-size: 30px;
    color: white;
    font-weight: 600;
    line-height: 60px;
}

@media screen and (max-width: 768px) {
    .Btnstyle {
        top: 36%;
    }

    .inputsize {
        height: 100px;
    }
}