html { 
    background: url(./images/homepagepic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome {
    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  background-color: white;
  text-align: center;
}

@media screen and (max-width: 965px) {
  .welcome{
    width: 500px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .welcome{
    width: 300px;
    text-align: center;
  }

  p.title.is-1.weltext {
    font-size: 30px;
}
}