header {
    font-family: 'Train One', cursive;
    opacity: 0.6;
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Tomorrow', sans-serif;
}
#logo{
    width: 100px;
    height: 100px;
}
/* .nav-wrapper {
    color: #0d47a1 blue darken-4
} */



.header {
    color: rgb(231, 43, 74);
 
}

.left {
    width: 20px;
    height: 20px;
    border-radius: 90px;
}

h5 {
    font-size: 15px;
}

.card-content {
    font-size: 10px;
    color: rgb(43, 46, 40);
    background-color: rgb(11, 204, 204);
    padding: 10px;
}

.card-action {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    color:rgb(92, 80, 255)
}
