header {
    font-family: 'Train One', cursive;
    opacity: 0.6;
    background: url(headpic.png);
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Tomorrow', sans-serif;
}

/* .nav-wrapper {
    color: #0d47a1 blue darken-4
} */

